---
import Layout from "../layouts/layout.astro";

---
<Layout title="404 - Page not found">
    <div class="flex flex-col items-center justify-center min-h-full">⚠️ &nbsp; 404 - Page not found</div>
</Layout>