---
import Layout from '../layouts/layout.astro'
---
<Layout title="Software Crafting Chronicles Home Page">
	<section class="flex flex-col min-h-full grow justify-center text-3xl">
		<div> software crafting chronicles</div> 
		<div class="flex self-center pl-20 pt-3 text-secondaryTextColor">TSVETAN TSVETKOV</div>
	</section>
</Layout>